#container {
  display: grid;
  grid-template-rows: 50px 90vh 5vh 90vh;
  grid-template-areas:
    "nav"
    "image"
    "image-list"
    "text-area";
}

@media screen and (min-width: 1024px) {
  #container {
    grid-template-rows: 50px 90vh 5vh 1fr;
    grid-template-areas:
      "nav nav nav nav nav nav"
      "text-area text-area text-area image image image"
      "image-list image-list image-list image-list image-list image-list";
  }
}

#nav {
  background-color: blue;
  grid-area: nav;
}

#image {
  background-color: green;
  grid-area: image;
}

#image-list {
  background-color: red;
  grid-area: image-list;
}

#text {
  background-color: yellow;
  grid-area: text-area;
}

* {
  width: 100%;
}
